<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    
</head>
<body>
    <div th:fragment="header">
    <header>
        <h1>Gestion Restaurant</h1>
        
        <nav>
            <ul>
                <li><span th:text="'Mr.'+${user.username}" style="text-transform: capitalize;"></span></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/reservations}">Reservations</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>

            </ul>
        </nav>
    </header>
   </div>
    
</body>
</html>