<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
       
        .restaurants {
            display: flexbox;
            border: 2px solid black;
            text-align: center;
            justify-content: center;
            align-items: center;
            width:200px;
            padding: 5px;
            margin: 2px;
            

        }
        .restaurants span {
            
        }
    </style>
</head>
<body>
   

    <div class="restaurants" th:each="res :${restaurants}">
        <span th:text="${res.id}"></span>
        <span th:text="${res.location}"></span>
        <span th:text="${res.nomRestaurant}"></span>
    </div>

    
</body>
</html>