<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/loginStyle.css}">
    
    <title>Login page</title>
</head>
<body>
    <div class="main">
        <h1>Login</h1>
        <form th:action="@{/login}" method="get">
            <div class="cell">
                <input type="email" id="email" placeholder="Email">
            </div>
            <div class="cell">
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="cell">
                <input type="submit" value="Login" id="btn">
            </div>
            <h4>Create account <a th:href="@{/sign}">click here</a></h4>
        </form>
    </div>
    
</body>
<script >
    let btn = document.getElementById('btn');
btn.addEventListener('click' ,verif);
function verif(event){

let email = document.getElementById("email").value;
let password = document.getElementById("password").value;
if(username == '' || password==''){
    console.log("hello")
}

};

</script>
</html>