<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{./style/login-signUp.css}">
    <title>Login</title>
</head>
<body>
    <form th:action="@{/login}" method="POST">
        <h1>Login</h1>
        <div class="cell">
            <input type="email" name="email" id="email" placeholder="Email" required>
            <img th:src="@{images/login_sign_images/email.png}" alt="icon" class="icon">
        </div>
        <div class="cell">
            <input type="password" name="password" id="password" placeholder="Password" required>
            <img th:src="@{images/login_sign_images/padlock.png}" alt="icon" class="icon">
        </div>
        <div class="cell">
            <p>Don't have an account?<a th:href="@{/sign}">Sign up</a></p>
        </div>
        <div class="cell">
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>