<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{./style/mainStyle.css}">
    <title>Welcome | Eat your meal the best way possible</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul>
                <button class="login"><a th:href="@{/login}">Log in</a></button>
                <button class="sign-up"><a href="@{/sign}">Sign up</a></button>
            </ul>
        </nav>
    </header>
    <main>
        <section class="first-section">
            <h1>Order delivery near you</h1>
            <div class="search-bar">
                <img src="@{images/login_sign_images/icons8-location-50.png}" alt="icon" class="icon">
                <input type="text" name="query" placeholder="Search for restaurants">
                <button type="submit" class="search-button">Search</button>
            </div>
            <p>Or <a th:href="@{/login}">Sign In</a></p>
        </section>
    </main>
</body>
</html>