<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/loginStyle.css}">
    <title>Sign up page</title>
</head>
<body>
    <div class="main">
        <h1>Sign Up</h1>
        <form th:action="@{/sign}" method="POST">
            <div class="cell">
                <input type="text" id="username" placeholder="Username" name="username">
            </div>
            <div class="cell">
                <input type="email" id="email" placeholder="Email" name="email">
            </div>
            <div class="cell">
                <input type="password" id="password" placeholder="Password" name="password">
            </div>
            <div class="cell">
                <input type="text" id="phone" placeholder="Phone" name="phone">
            </div>
            <div class="cell">
                <input type="submit" value="Sign up" id="btn">
            </div>
            <h4>If you already have account <a th:href="@{/login}">click here</a></h4>
        </form>
    </div>
    
</body>
</html>