<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{style/login-signUp.css}">
    <title>Sign up</title>
</head>
<body>
    <form th:action="@{/sign}" method="post">
        <h1>Sign Up</h1>
        <div class="cell">
            <input type="text" name="username" id="username" placeholder="Username" required>
            <img th:src="@{images/login_sign_images/user.png}" alt="icon" class="icon">
        </div>
        <div class="cell">
            <input type="email" name="email" id="email" placeholder="Email" required>
            <img th:src="@{images/login_sign_images/email.png}" alt="icon" class="icon">
        </div>
        <div class="cell">
            <input type="password" name="password" id="password" placeholder="Password" required>
            <img th:src="@{images/login_sign_images/padlock.png}" alt="icon" class="icon">
        </div>
        <div class="cell">
            <input type="text" name="phone" id="phone" placeholder="Phone Number">
            <img th:src="@{images/login_sign_images/phone-call.png}" alt="icon" class="icon">
        </div>
        <div class="cell">
            <p>Already have an account?<a th:href="@{/login}">Login</a></p>
        </div>
        
        <div class="cell">
            <button type="submit">Sign Up</button>
        </div>
    </form>
</body>
</html>